<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="Daddy's Burgers"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaddysBurgers">

        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Onboarding1Activity"
            android:exported="false" />

        <activity
            android:name=".Onboarding2Activity"
            android:exported="false" />

        <activity
            android:name=".Onboarding3Activity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".BurgerCustomActivity"
            android:exported="false" />

        <activity
            android:name=".TrackOrderActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutPhoneActivity"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".EnterCodeActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutLocationActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutConfirmLocationActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutPaymentActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutCodActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutSuccessCodActivity"
            android:exported="false" />

        <activity
            android:name=".CheckoutSuccessPaymentActivity"
            android:exported="false" />

        <activity
            android:name=".OrderListActivity"
            android:exported="false" />

        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />

        <activity
            android:name=".ResetSuccessActivity"
            android:exported="false" />

    </application>

</manifest>